.footer-to-explore {
    background: url(../assets/yoga-class-cliff.jpg);
    background-size: cover;
    background-position: center;
    background-color: rgb(104, 104, 104);
    background-blend-mode: screen;
    width: 100%;
    height: 450px;
    @include mq-large-phone {
        height: 250px;
    }
}

.footer-to-explore .image-section-explore {
    height: 100%;
}

.footer-to-explore .wrapper {
    text-align: center;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.footer-to-explore button {
    color: black;
    font-size: 3.5rem;
    text-decoration: none;
    height: 50%;
    font-weight: bold;
    background: none;
    border: none;
    line-height: 50px;
    opacity: 0.6;
}

.footer-to-explore button:hover {
    border-radius: 5%;
    opacity: 1;
}