.footer-to-explore {
    background: url(../assets/farsai-chaikulngamdee-L2wq7Y3h7ag-unsplash.jpg);
    background-size: cover;
    background-position: center;
    background-color: rgb(148, 147, 147);
    background-blend-mode: screen;
    width: 100%;
    height: 40vh;
   
}

.footer-to-explore .image-section-explore {
    height: 100%;
} 

.footer-to-explore .wrapper {
    text-align: center;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.footer-to-explore button {
    color: rgb(32, 32, 32);
    font-size: 2.2rem;
    text-decoration: none;
    height: 50%;
    font-weight: bold;
    background: none;
    border: none;
    line-height: 50px;
    transition: font-size 0.5s;

    @include mq-tablet {
        font-size: 2.4rem;
    }
    @include mq-desktop {
        font-size: 2.8rem;
    }
}

.footer-to-explore button:hover {
    @include mq-large-phone {
        font-size: 2.4rem;
    }
    @include mq-tablet {
        font-size: 2.6rem;
    }
    @include mq-desktop {
        font-size: 3rem;
    }
}

.footer-to-explore button:hover {
    border-radius: 5%;
    opacity: 1;
}