// * {
//     border: red 1px solid;
// }

.large-form{ 
    background-size: cover;
    background: $light-colour;
    height: 90vh;
    @include mq-large-phone {
        height: 105vh;

    }

    // @include mq-large-phone {
    //     height: 775px;
    // }
    // @include mq-tablet {
    //     height: 800px;
    // }

    // @include mq-desktop {
    //    height: 875px;
    // }
}

.large-form legend {
    font-size: 1.6rem;
    font-weight: bold;
    margin: 0px 0;
    width: 100%;
    @include mq-tablet {
       font-size: 1.6rem;
       margin-bottom: 25px;
    }
    @include mq-desktop {
       font-size: 1.8rem;
    }
}

.large-form-host legend {
    font-size: 1.8rem;
}

form .title {
    font-size: 1.8rem;
    margin: 30px 0;
    margin-top: 50px;
    width: 100%;
    text-align: left;

    @include mq-tablet {
       font-size: 2rem;
    }
    @include mq-desktop {
       font-size: 2.3rem;
    }
} 

.large-form .wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
    
}

.form-side {
    width: 100%;
    height: 100%;
    @include mq-tablet {
       width: 75%;
    }
    @include mq-desktop {
       width: 55%;
    }
}



.form-side-two {
    height: 100%;
}

.form-side-one {
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    display: none;
    @include mq-tablet {
       display: flex;
    }
    // align-items: space-evenly;
}

.large-form-host .form-side-one {
    justify-content: flex-end;

}

.form-side-one .image-container {
    margin: 20vh 0px;
}

form .question-form div, form select  { 
    font-size: 1.4rem;
    width: 100%;
    margin: 20px 0;
    
    @include mq-tablet {
       font-size: 1.6rem;
    }
    @include mq-desktop {
       font-size: 1.8rem;
    }
}



.large-form select[name='date'], .large-form input[name='name'], .large-form input[name='email'], form select[name='yoga-style'], .large-form  input[type='number'] {
    width: 80%;
    color: $dark-colour;
    background: transparent;
    border: 1px rgb(211, 210, 210) solid;
    padding-left: 4px;

}

.large-form  input[name='name'], .large-form  input[name='email'], .large-form  input[type='number'] {
    color: $dark-colour-two;
}

.large-form  select[name='date'], .large-form  select[name='yoga-style'] {
    border-radius: 10%;
}

form .question-form label { 
    margin: 5px;
}

form .form-fieldset {
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    text-align: left;
    width: 100%;
    height: 200px;
    
    
}

form .question-form { 
    width: 45%;
    text-align: left;
    padding: 20px 0;
    // margin: 20px 0;
}

form .small-font{ 
    font-size: 0.7rem;
    @include mq-tablet {
       font-size: 1rem;
    }
    @include mq-desktop {
       font-size: 1.3rem;
    }
}

form .submit-form { 
    width: 100%;
    padding-top: 3s0px;
}


.large-form button {
    height: 60px;
    width: 100%;
    color: $light-colour;
    border-radius: 10%;
    border-color: $dark-colour-two;
    background: $dark-colour;
    transition: font-size 1s, width 1s, height 1s;
    
}

form .submit-form button:hover {  

    background: $light-colour;
    color: $dark-colour;
    @include mq-tablet {
   
    }
    @include mq-desktop {

    }
}

.no-input, .no-data {
    width: 100%;
}

.title3, .title4, .title5 {
    font-size: 1.5rem;
    color: $dark-colour-two;
    text-align: center;
    padding-bottom: 30px;
    @include mq-tablet {
        font-size: 1.5rem;
    }
    @include mq-desktop {
        font-size: 1.5rem;
    }
}

.title4, .title5 {
    display: block;
}

.hide {
    display:none;
}

