.hero-text {
    display: flex;
    flex-direction: row; 
    justify-content: center;
    align-content: flex-end;
    height: 80%;
    width: 100%;
    
}

header h1 {
    font-size: 2.5rem;
    @include mq-large-phone {
        font-size: 2.5rem; 
    }

    @include mq-tablet {
        font-size: 3.5rem;
    }
}

.hero-text h1 {
    font-size: 5rem;
    color: white;
    text-align: left;
    // @include mq-large-phone {
    //     font-size: 5rem; 
    // }

    @include mq-tablet {
        font-size: 5.5rem;
        text-align: left;
        margin-top: 30px;
    }
}
    

