.mini-form {
    height: 150px;
    padding: 20px 0;
    background-color: $light-colour;
    @include mq-tablet {
       height: 75px;
    }
}

.mini-form .form-fieldset {
    height: auto;
}

.mini-form select { 
    font-size: 1.2rem;
    width: 90%;
    margin: 20px 20px;
    height: 40px;
    color: $dark-colour;
    @include mq-large-phone {
        font-size: 1.5rem;
    }
    @include mq-tablet {
       smargin: 20px 0px;
       width: 100%;
       font-size: 1.5rem;
       padding: 5px;
       height: auto;
    }
    @include mq-desktop {
       font-size: 1.8rem;
    }
}

.mini-form .form-fieldset {
    justify-content: space-between;
}


.mini-form .question-form, .mini-form  .form-fieldset div:nth-of-type(5)  {
    width: 28%;
    text-align: left;
    height: auto;
    height: 60px;
    padding: 10px 0;
    flex-grow: 1;
    @include mq-tablet {
        height: auto;
       flex-grow: 0;
       padding: 20px 0;
       width: 18%;
       font-size: 1.8rem;
       padding: 5px;
    }
    @include mq-desktop {
       font-size: 2.2rem;
    }
}

.mini-form .mini-submit-form button {  
    height: 40px;
    line-height: 0px;
    width: 90%;
    color: $light-color;
    margin: 20px 10px;
    background: $dark-color;
    font-weight: bold;
    border: none;
    font-size: 1.5rem;
    transition: font-size 0.5s;
    @include mq-tablet { 
        height: 25px;
        font-size: 1.8rem;
        margin: 20px 10px;
        width: 90%;
    }
    @include mq-desktop {
        font-size: 2.2rem;
        height: 30px;

    }
}

