@import "../abstracts/mixins";
// nav section
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: Lato, sans-serif;
    position: relative;
    padding-top: 30px; 

    @include mq-large-phone {
        padding-top: 30px; 
    }
    @include mq-desktop {
        padding-top: 30px; 
    }
}

nav ul:nth-of-type(1) {
    padding-top: 20px;
    padding-left: 0;
    @include mq-large-phone {
     padding-left: 0;
    }
    @include mq-tablet {
        padding-top: 0;
    } 
}

ul {
    display: flex;
}

nav li {
    font-size: 2.2rem;
    line-height: 15px;
    list-style-type: none;
    text-decoration: none;

    color: $light-color;

    @include mq-desktop {
        font-size: 2.8rem;
        text-decoration: none; 
        position: relative;
    } 
}

.landing-image .logo a {
    color: $light-colour;
}

nav a {
    font-weight: bold;
    color: $dark-colour-two;
    text-decoration: none;
    @include mq-tablet {
        font-size: 1.8rem;
        text-decoration: none;
        position: relative;
    } 

    @include mq-desktop {
        font-size: 2.2rem;
    }

}

nav .logo a {
    font-size: 2.4rem;
    @include mq-tablet {
        padding-top: 10px;        
        display: block;

    }
    
}

nav .logo-landing a {
    // display: none;
    color: $light-colour;
    font-size: 2.2rem;
    @include mq-tablet {
        padding-top: 10px;
        display: block;
    }
}

nav a:hover{
    font-weight: bold;
}




.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

nav ul:nth-of-type(2) {
    display: none;

    @include mq-tablet {
        display: flex;
        width: 60%;
        justify-content: space-between;
    } 

    @include mq-desktop {
        width: 55%;
        justify-content: space-evenly;
    } 
}

i.fa-bars, .section-hero button {
    font-size: 3rem;
    color: black;
     @include mq-tablet {
        display: none;
    } 
}

nav i {
    position: absolute;
    top: 10px;
    right: 0px;
    font-size: 2rem;
}

// mobile dropdown


.dropdown {
    position: absolute;
    top: 10px;
    right: 0px;
    display: flex;
    height: 200px;
    flex-direction: column;
    background: $light-color;
    width: 50%;
    text-align: left;
    padding: 20px;
    padding-left: 20px;
    border-radius: 5%;
    opacity: 0.9;

}

.dropdown-start {
    display: none;
    padding-left: 20px;
}

.dropdown li {
    font-size: 1.8rem;
    margin-bottom: 15px;
    margin-top: 5px;
    list-style-type: none;

}

.dropdown a {
    color: $dark-color;
    text-decoration: none;
    cursor: pointer;
    font-weight: bold;
}