.class-section {
    padding: 40px 0;
} 

.explore-hero-image {
    background: url(../assets/man-and-woman-doing-yoga-1882004.jpg);
    height: 85vh;
    background-size: cover;
    background-position: center;
    width: 100%;


}

.explore-hero-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 60%;
    @include mq-tablet {
        height: 70%;
    }
}

.explore-hero-text h1 {
    font-size: 3.5rem;
    @include mq-large-phone {
        font-size: 4.5rem;
    }
    @include mq-tablet {
        font-size: 5rem;
    }
    @include mq-desktop {
        font-size: 6.5rem;
    }

}

.class-section h2  {
    font-size: 3rem;

    @include mq-tablet {
        font-size: 3.5rem; 
        margin: 15px 0;
    }
    @include mq-desktop {
        font-size: 4rem;
        margin: 30px 0;
    }
}

.explore-section-footer {
    background: url(../assets/footer-explore.jpg);
    background-size: cover;
    background-position: center;
    background-color: rgb(136, 135, 135);
    background-blend-mode: screen;
    height: 450px;
    @include mq-large-phone {
        height: 300px;
    }

    @include mq-large-phone {
        height: 450px;
    }

     @include mq-desktop{
        height: 550px;
    }
}

.explore-section-footer  button {
    color: black;
    opacity: 1;
}