//// REMINDER - change all pic files to camelcase

.guest-hero-image {
    background: url(../assets/two-yoga-water.jpg);
     background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;

    @include mq-large-phone {
        background: url(../assets/two-yoga-water-crop.jpg);
        background-size: cover;
        background-position: center;
    }

    @include mq-tablet {
        background: url(../assets/two-yoga-water-crop-two.png);
        background-size: cover;
        background-position: center;
    }
} 

.reveal-data {
    height: auto;
    background: $gradient-color-two;

}

.reveal-data-style {
    padding-top: 50px;
    background: $gradient-color-one;
}

.no-input, .no-data {
    width: 100%;
}

.title3, .title4, .title5 {
    font-size: 2rem;
    color: $dark-color;
    text-align: center;
    padding-bottom: 30px;
    @include mq-tablet {
        font-size: 2.5rem;
    }
    @include mq-desktop {
        font-size: 3rem;
    }
}

.title4, .title5 {
    display: block;
}

.hide {
    display:none;
}



