

.landing-image {
    background: url(../assets/carl-newton-iX7WedkjpUY-unsplash.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;

    height: 650px;
    @include mq-tablet { 
        background: url(../assets/carl-newton-iX7WedkjpUY-unsplashcrop.png);
        background-size: cover;
        background-position: center;
    }
    

}

.landing-wrapper-two {
    height: 80%;
    width: 100%;
    @include mq-tablet { 
        width: 85%;
    }

    @include mq-desktop { 
        height: 85%;
    }
} 



.landing-wrapper {
    width: 95%;
    height: 20%;
    height: auto;
    
}

.landing-wrapper ul:nth-of-type(1) {
    padding-left: 5%;
    @include mq-desktop {
       padding-left: 2.5%;
    }
}


.landing-text-section { 
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;

}

.landing-text-section h1 { 
    color: $light-color;
    @include mq-large-phone {
        font-size: 1.8rem;
    }
    @include mq-desktop {
        font-size: 2.2rem;
    }
   
    
}

.landing-title {
    width: 100%;
    height: auto;
    margin-top: 60px;
    @include mq-tablet {
        margin-top: 10px;
    }
    @include mq-desktop {
        margin-top: 0px;
        
    }

}

.guest-buttons{
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-content: center;
     @include mq-desktop {
        justify-content: flex-end;
    }
}

.guest-buttons a {
    width: 100%;
    list-style-type: none;
    text-decoration: none;
    color: $light-color;
    margin: 5px 0;
     @include mq-desktop {
        margin: 10px 0;    
    }
}


.guest-buttons p {
    color: $light-colour;
    width: 100%;
    font-weight: bold;
    font-size: 1.5rem; 
    transition: font-size 0.5s, line-height 0.5s;

     @include mq-tablet {
        font-size: 1.8rem;
    }

    @include mq-desktop {
        font-size: 1.8rem;
    }
}

.guest-buttons p:hover {
    font-size: 1.7rem; 
    @include mq-tablet {
        font-size: 2rem;
    }

    @include mq-desktop {
        font-size: 2rem;
    }
}

.fas {
    color: $primary-colour;
    font-size: 4rem;
    transition: font-size 0.5s;
}

.fas:hover {
    font-size: 4.5rem; 
}


.landing-footer {
    background: $light-colour;
    // height: 65vh;s
    height: 422px;

}

.landing-footer .wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center;
}

.landing-footer p {
    font-size: 1.5rem;
    text-align: center;
    line-height: 35px;
    width: 50%;
    color: $dark-colour;
    padding: auto 0px;

    @include mq-large-phone {
        font-size: 1.8rem;
    }

    @include mq-desktop {
        font-size: 2.25rem;
    }

}

.landing-footer .footer-about {
    width: 100%;
    font-weight: bold;
}

.choice-section {
    height: 195px;
    display: flex;
    
}

.choice {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.choice a {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-decoration: none;
}

.choice-1 {
    background: $dark-colour;
    
}

.choice-2 {
    background: $mid-colour-two;
    
}


