.image-container {
    width: 80%;
    object-fit: cover;

}

img {
    width: 100%;
    box-shadow: 10px 10px $light-colour;

}

.box-shadow {
    width: 100%;
    box-shadow: 10px 10px $mid-colour-two;

}

.alt-shadow-image {
    box-shadow: 10px 10px $light-colour;

}

