$dark-color: #667c8c; 

$light-color: #e2e0e4;

$mid-color: #7395ae;

$gradient-color-one: rgb(219, 230, 244); 
$gradient-color-two: rgb(252, 252, 252);

$dark-colour: rgb(117, 116, 141);
$dark-colour-two: rgb(55, 54, 99);

$mid-colour: rgb(163, 206, 206);

$primary-colour: rgb(245, 198, 159);

$dark-primary-colour: rgb(235, 160, 98);

$mid-colour-two: #B9D2DC;

$light-colour: #F5F5F5;




