// This file contains CSS helper classes.
// e.g. clear fix / wrappers / visually hidden

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
} 

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) { 
	  position: absolute !important;
	  height: 1px; 
	  width: 1px;
	  overflow: hidden;
	  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	  clip: rect(1px, 1px, 1px, 1px);
	  white-space: nowrap; /* added line */
}

