// This file contains all @font-family / sizing

// note think about roboto for headers

html {
    font-size: 62.5%; 
}

h1, h2, h3, p, li, form, button{
    font-family: 'Merriweather', serif;
    letter-spacing: 2px;
    font-weight: 400;
    line-height: 22px;
    color:$dark-colour;
}


h1 {
    font-size: 4rem;

    @include mq-tablet {
       font-size: 5.5rem;
       line-height: 70px;
    } 

    @include mq-desktop {
       font-size: 6rem;
    } 
}

h2 {
    font-size: 4rem;

    @include mq-tablet {
       font-size: 4.5rem;
    } 

    @include mq-desktop {
       font-size: 5rem;
    } 
}

p, button {
    font-size: 1.8rem;
    line-height: 25px;
    
    @include mq-desktop {
       font-size: 2rem;
       line-height: 30px;
    } 

    
}
